body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 24px);
    width: max-content;
    gap: 1px;
    padding: 1px;
    background-color: #566176;
}

.cell {
    width: 24px;
    height: 24px;
    background-color: #182235;
}

.piece-I { background-color: #00d9e8; }
.piece-O { background-color: #f5d800; }
.piece-T { background-color: #a347d1; }
.piece-S { background-color: #38c548; }
.piece-Z { background-color: #ed3545; }
.piece-J { background-color: #3465ed; }
.piece-L { background-color: #f59b23; }
